<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content" style="">
	 <div>
    <h2>Espai dedicat a les vostres fotos</h2>
    <p class="subhead mdl-color-text--grey-700" >Ací podreu compartir les fotos que feu amb els vostres mòbils. És molt fàcil!
Trieu l'àlbum de la vostra taula i pugeu les fotos que desitgeu. 
<br/>
Animeu-vos! Volem ser partícips dels vostres grans moments! Gràcies!</p>
    <ul class="mdl-list" id="albums"></ul>
     </div>
</section>
<!--style="display:block"-->



<% include ../partials/js %>
<script src="/js/album.js"></script> 

<% include ../partials/footer %>