<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content" style="">
    <h2>Avís important</h2>
    <p class="subhead mdl-color-text--grey-700" style="display:block">Aquest és un espai destinat als convidats de la boda. L'hem creat amb la il·lusió de poder compartir i disfrutar de les vivències d'aquest dia. Per això demanem fer un ús responsable de les imatges. És responsabilitat individual qualsevol difusió fora d'aquesta plataforma. Moltes gràcies.
</p>
    <ul class="mdl-list" id="albums"></ul>
</section>







<% include ../partials/js %>
<!-- <script src="/js/album.js"></script> -->

<% include ../partials/footer %>