[Unit]
Description=File controler for photocall of Plan B
After=network.target
StartLimitIntervalSec=0
StartLimitAction=reboot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=PlanBFiles

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/project_planb/filecontrol.py >> /home/pi/project_planb/logs_filecontrol.txt 2>> /home/pi/project_planb/logs_filecontrol.txt &

[Install]
WantedBy=multi-user.target
