<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> 
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
	<!-- Roboto Font-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<!-- Fancybox Gallery CSS -->
	<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.min.css">

	<!-- Material design icon-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="/mdlite/material.indigo-pink.min.css">
	
	<script src="/mdlite/material.min.js"></script>

	<link rel="stylesheet" href="/css/frame.css">
	
	<title >Patricia i José Juan!</title>
</head>

<body>
	<!-- Always shows a header, even in smaller screens. -->
	<div class="mdl-layout--fixed-header mdl-js-layout" >
		<header class="mdl-layout__header mdl-layout__header--waterfall" style="background-color:goldenrod; color:black" > <!-- style="min-height: 70px" -->
			<div class="mdl-layout__header-row"> <!--  style="display:block; min-height:100% !important;"  -->
				<!-- Title -->

			    <span class="mdl-layout-title" style="font-family: Faradisa; font-size:40px" >Patricia i José Juan</span>  <!-- style="float:left;padding-top: 15px; font-size:30;line-height: 27px;font-family: Faradisa;" -->

				<!-- Add spacer, to align avatar/disconnect to the right -->
				<div class="mdl-layout-spacer"></div>
				<!--<nav class="mdl-navigation" style="float:right">
					< ! -- <img src=" <%= avatarUrl %>" id="userAvatar" /> - - >
					 Benvingut/da <br/>
					 <%= name %>!
					<! - - <a class="mdl-navigation__link" href="/logout">Disconnect</a> - - >
				</nav>-->
			</div>
			<div class="mdl-layout__header-row" >
				<!-- Navigation -->
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" style="font-family: Faradisa;font-size:20px; background-color:goldenrod; color:black" href="/">PHOTOCALL</a>
					<a class="mdl-navigation__link" href="/frame" style="font-family: Faradisa;font-size:20px;background-color:goldenrod; color:black">CONVIDATS</a>
					<a class="mdl-navigation__link" href="/disclaimer" style="font-family: Faradisa;font-size:20px;background-color:goldenrod; color:black">AVÍS</a>
					<!--<a class="mdl-navigation__link" href="/search">SEARCH</a> -->
					<!--<a class="mdl-navigation__link" href="/album">ALBUMS</a>
					<a class="mdl-navigation__link" href="/upload">PUJAR</a> -->
				</nav>
			</div>
		</header>

		<!-- Loading dialog -->
		<div class="loading-dialog">
			<h1>Loading ...</h1>
			<div class="mdl-spinner mdl-js-spinner is-active"></div>
		</div>

		<main class="demo-main mdl-layout__content" style="width:100vw;""> <!--style="width:100vw; height:100vh"display:block; -->
			<div class="page-content" style="">